html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

body {
    background-color: white;
    margin: 0 auto; /* Center website */
    max-width: 1000px; /* width */
    padding: 20px;
}
.flex-container > * {
    padding: 10px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: left;
}

header {background: white;color:(38, 7, 78);}
footer {background: rgb(80, 76, 76);color:white;}

h1 {
    font-family: fantasy;
    font-size: 50px;
    font-weight: 1000;
    border-left: 2px solid rgb(80, 76, 76);
    display: inline;
    float: left;
    line-height: 100px;
    height: 100px;
    color: rgb(80, 76, 76);
}

h2 {
    font-family: fantasy;
    font-size: 35px;
    }

p {
    font-family: fantasy;
    font-size: 25px;
}    
div#logo {
    float: left;
}
@media all and (min-width: 768px) {
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(80, 76, 76);
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(41, 39, 39);
}
{
    box-sizing: border-box;
}

.photo-grid {
    text-align: center;
    padding: 32px;
    }

.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 32%; /* IE10 */
    flex: 32%;
    max-width: 32%;
    padding: 0 4px;
}

.column img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    vertical-align: middle;
    text-align: center;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1000px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
   }

   footer {
      margin-top: 10px;
   }
   
   footer p {
     font-family: fantasy;
     font-size: 10px;
     color: white;
   }