html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
.flex-container {
    display: -webkit-flex;
    display: flex;  
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

body {
    background-color: white;
    margin: 0 auto; /* Center website */
    max-width: 1000px; /* Max width */
    padding: 20px;
}
.flex-container > * {
    padding: 10px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: left;
}

header {background: white;color:(38, 7, 78);}
footer {background: rgb(164, 105, 241);color:white;}

h1 {
    font-family: fantasy;
    font-size: 50px;
    font-weight: 1000;
    border-left: 2px solid rgb(164, 105, 241);
    display: inline;
    float: left;
    line-height: 100px;
    height: 100px;
    color: rgb(164, 105, 241);
}

h2 {
    font-family: fantasy;
    font-size: 35px;
    }

p {
    font-family: fantasy;
    font-size: 25px;
}    
div#logo {
    float: left;
}
@media all and (min-width: 768px) {
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(164, 105, 241);
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(60, 34, 134);
}
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 50%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
